
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/sign-in">Sign in</a>
    <br>
    <a href="/register">Sign up</a>
  </body>
</html>
